<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pawnifier</title>
  <link rel="stylesheet" href="static/output.css">
  <script src="https://unpkg.com/htmx.org@1.9.12"
    integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="w-screen h-screen p-4">
    {{if .Email}}
    {{ .Email }}
    {{else}}
    <a href="https://app.simplelogin.io/oauth2/authorize?response_type=code&client_id=pawnifier-rvvtvfkzyf&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Flogin&scope=profile&state=STATE"
      class="btn btn-primary"> Login </a>
    {{end}}
  </div>
</body>

</html>
